[submodule "Hazel_Asta/vendor/spdlog"]
	path = Hazel_Asta/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel_Asta/vendor/GLFW"]
	path = Hazel_Asta/vendor/GLFW
	url = https://github.com/TheCherno/glfw
